@use "./sorting-algorithms.scss";

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(200, 15%, 10%);
  border: 0.3em solid hsl(200, 10%, 15%);
  border-radius: 0.5em;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;

  .sidebar {
    position: relative;
    height: 100%;
    padding: 1.5rem 0;
    overflow: auto;
    background-color: hsl(200, 10%, 10%);
    color: white;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;

    h2,
    .config-section {
      padding: 0 1.5rem;
    }

    .resize-handle {
      top: 0;
      right: 0;
      bottom: 0;
      cursor: ew-resize;
    }

    > h2 {
      height: 3rem;
      margin: 0;
    }
  }

  main {
    width: 100%;
    max-height: 100%;
    padding: 0 1.5rem;
    overflow: auto;

    .visualization {
      display: flex;
      flex-direction: column;
      height: 100vh;
      padding: 1.5rem 0;
      box-sizing: border-box;

      * {
        box-sizing: border-box;
      }

      > h2 {
        height: 3rem;
        margin: 0;
      }
    }
  }
}

.resize-handle {
  position: absolute;
  width: 4px;
  background: #adff2f;
  opacity: 0;
  transition: opacity 150ms ease;

  &:hover {
    opacity: 0.5;
  }
}

button,
input,
select {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.input {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;

  button,
  input,
  select {
    width: 100%;
    display: flex;
  }

  &.checkbox {
    display: flex;
    align-items: center;

    input {
      margin-right: 0.5rem;
      width: 0.7rem;
      height: 0.7rem;
    }
    label {
      position: static;
      display: inline-flex;
      align-items: center;
      height: 100%;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.25rem;
    padding: 0.3rem 0.5rem;
    border: 2px solid #bbb;
    border-radius: 0.25rem;
    outline: none;
    background-color: hsl(200, 15%, 15%);
    box-sizing: border-box;
    font-size: 0.9em;
    transition: border 250ms ease;

    &:active {
      color: #adff2f;
      border: 2px solid #adff2f;
    }
  }

  label {
    position: absolute;
    top: 0.5em;
    left: 0.5rem;
    font-size: 0.75em;
    color: #adff2fbb;
    cursor: default;
    user-select: none;
  }

  input,
  select {
    display: block;
    height: 3.25rem;
    padding: 1rem 0.5rem 0.1rem 0.5rem;
    border: 2px solid #bbb;
    border-radius: 0.25rem;
    outline: none;
    background-color: hsl(200, 15%, 15%);
    box-sizing: border-box;
    font-size: 0.9em;
    transition: border 250ms ease;

    &:focus {
      border: 2px solid #adff2f;
    }
  }
}

input[type="range"] {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 1.25rem;
}

.collapsible.config-section > summary {
  font-weight: bold;
  user-select: none;
  padding: 0.5rem 0;
}

pre {
  width: 100%;
  white-space: normal;
}

table {
  border-collapse: collapse;
  border: 1px solid gray;

  th,
  td {
    border: 1px solid gray;
    padding: 0.5rem;
  }
}

.algorithm-description {
  width: 100%;
  padding: 1.5rem 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8em;
  }

  .input button {
    height: 2.75rem;
    padding: 0.3rem;
  }

  .input input,
  .input select {
    height: 2.75rem;
    padding: 0.8rem 0.3rem 0 0.3rem;
  }
}
