@use "./sorting-algorithms.scss";

button,
input,
select {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.input-item {
  position: relative;
  margin-right: 1rem;
  margin-bottom: 1rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.25rem;
    padding: 0.3rem 0.5rem;
    border: 2px solid white;
    border-radius: 0.25rem;
    outline: none;
    background-color: hsl(200, 15%, 25%);
    box-sizing: border-box;
    font-size: 0.9em;
    transition: border 250ms ease;

    &:active {
      color: #adff2f;
      border: 2px solid #adff2f;
    }
  }

  label {
    position: absolute;
    top: 0.5em;
    left: 0.5rem;
    font-size: 0.75em;
    color: #adff2fbb;
  }

  input,
  select {
    display: block;
    height: 3.25rem;
    padding: 1rem 0.5rem 0.1rem 0.5rem;
    border: 2px solid white;
    border-radius: 0.25rem;
    outline: none;
    background-color: hsl(200, 15%, 25%);
    box-sizing: border-box;
    font-size: 0.9em;
    transition: border 250ms ease;

    &:focus {
      border: 2px solid #adff2f;
    }
  }
}

input[type="range"] {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 1.25rem;
}

.collapsible {
  width: 100%;
  margin: 1em 0;
}

pre {
  width: 100%;
  white-space: normal;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8em;
  }

  .input-item button {
    height: 2.75rem;
    padding: 0.3rem;
  }

  .input-item input,
  .input-item select {
    height: 2.75rem;
    padding: 0.8rem 0.3rem 0 0.3rem;
  }
}
