@use "./sorting-algorithms.scss";

$sidebar-resize-handle-thickness: 4px;
$input-border-radius: 0.25rem;

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(200, 15%, 10%);
  border: 0.3em solid hsl(200, 10%, 15%);
  border-radius: 0.5em;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;

  .sidebar {
    position: relative;
    max-width: 75vw;
    // Allow the sidebar to become this small. min-width (inline style) sets the actual width.
    width: $sidebar-resize-handle-thickness;
    max-height: 100vh;
    height: 100%;
    overflow: auto;
    background-color: hsl(200, 10%, 10%);
    color: white;
    box-sizing: border-box;
    white-space: nowrap;

    .sidebar-content {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar-thumb {
        background: hsl(200, 10%, 15%);
        border: 0.3em solid hsl(200, 15%, 10%);
      }

      > :first-child {
        padding: 1.5rem 1.5rem 0 1.5rem;
        margin: 0;
      }

      > :last-child {
        padding-bottom: 1.5rem;
      }
    }

    .config-section {
      padding: 0 1.5rem;
    }

    .resize-handle.resize-width {
      display: block;
      width: $sidebar-resize-handle-thickness;
      top: 0;
      right: 0;
      bottom: 0;
      cursor: ew-resize;
    }

    .resize-handle.resize-height {
      display: none;
      height: $sidebar-resize-handle-thickness;
      top: 0;
      right: 0;
      left: 0;
      cursor: ns-resize;
    }

    > h2 {
      height: 3rem;
      margin: 0;
    }
  }

  main {
    width: 100%;
    max-height: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
    overflow: auto;

    .visualization {
      display: flex;
      flex-direction: column;
      height: 100vh;
      padding: 1.5rem 0;
      box-sizing: border-box;

      * {
        box-sizing: border-box;
      }

      > h2 {
        height: 3rem;
        margin: 0;
      }
    }
  }
}

.resize-handle {
  position: absolute;
  background: #adff2f;
  opacity: 0;
  transition: opacity 150ms ease;
  user-select: none;

  &:hover {
    opacity: 0.5;
  }
}

button,
input,
select {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.input {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;

  button,
  input,
  select {
    width: 100%;
    display: flex;
  }

  &.checkbox {
    display: flex;
    align-items: center;

    input {
      margin-right: 0.5rem;
      width: 0.7rem;
      height: 0.7rem;
    }
    label {
      position: static;
      display: inline-flex;
      align-items: center;
      height: 100%;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.25rem;
    padding: 0.3rem 0.5rem;
    border: 2px solid #bbb;
    border-radius: $input-border-radius;
    outline: none;
    background-color: hsl(200, 15%, 15%);
    box-sizing: border-box;
    font-size: 0.9em;
    transition: border 250ms ease;

    &:active,
    &:focus {
      color: #adff2f;
      border: 2px solid #adff2f;
    }
  }

  label {
    position: absolute;
    top: 0.5em;
    left: 0.5rem;
    right: 0.5rem;
    font-size: 0.75em;
    color: #adff2fbb;
    cursor: default;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  input,
  select {
    display: block;
    height: 3.25rem;
    padding: 1rem 0.5rem 0.1rem 0.5rem;
    border: 2px solid #bbb;
    border-radius: $input-border-radius;
    outline: none;
    background-color: hsl(200, 15%, 15%);
    box-sizing: border-box;
    font-size: 0.9em;
    transition: border 250ms ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:focus {
      border: 2px solid #adff2f;
    }
  }
}

input[type="range"] {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 1.25rem;
}

details {
  > summary {
    margin: 0.25rem 0;
    outline: none;
    border: 2px solid transparent;
    border-radius: $input-border-radius;
    cursor: pointer;
    transition: border 250ms ease;

    &:focus-visible {
      border: 2px solid #adff2f;
    }
  }

  &.collapsible {
    > :nth-child(2) {
      margin-top: 0.5rem;
    }

    &.config-section > summary {
      font-weight: bold;
      user-select: none;
      padding: 0.5rem 0;
    }
  }
}

pre {
  width: 100%;
  white-space: normal;
}

table {
  border-collapse: collapse;
  border: 1px solid gray;

  th,
  td {
    border: 1px solid gray;
    padding: 0.5rem;
  }
}

.algorithm-description {
  width: 100%;
  padding: 1.5rem 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .page {
    flex-direction: column-reverse;

    .sidebar {
      max-width: 100vw;
      width: 100%;
      height: $sidebar-resize-handle-thickness;

      .resize-handle.resize-width {
        display: none;
      }
      .resize-handle.resize-height {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8em;
  }

  .input button {
    height: 2.75rem;
    padding: 0.3rem;
  }

  .input input,
  .input select {
    height: 2.75rem;
    padding: 0.8rem 0.3rem 0 0.3rem;
  }
}
