#Pathfinding {
  .path-grid {
    display: flex;
    width: 100%;
    max-height: calc(100vh - var(--top-bar-height) - calc(var(--main-padding) * 2) - var(--step-slider-height) - 10rem);
    margin: auto;
    background-color: var(--bg-color-1);

    svg {
      overflow: hidden;
      margin: auto;
    }

    .grid-cell {
      aspect-ratio: 1/1;
      box-sizing: border-box;
      outline: 1px solid hsla(0, 0%, 50%, 20%);

      &.start {
        fill: var(--color-accent-1);
        z-index: 2;
      }

      &.end {
        fill: orangered;
        z-index: 2;
      }

      &.wall {
        fill: #ccc;
        outline: none;
      }

      &.unvisited {
        fill: transparent;
      }

      &.visited {
        fill: #0066ff99;
      }

      &.new-visited {
        fill: #00bbff;
      }
    }

    .grid {
      width: calc(100% + 3px);
      height: calc(100% + 3px);
    }

    #gridPattern path {
      stroke: hsla(0, 0%, 50%, 30%);
      stroke-width: 3;
      fill: none;
    }

    .path {
      stroke: orange;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
      z-index: 1;
    }
  }

  .path-toolbar {
    display: flex;
    width: 100%;
    height: 3.5rem;

    .toolbar-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.5rem;
      margin-right: 0.5rem;
      border-radius: 0.5rem;
      color: white;
      background: transparent;
      cursor: pointer;

      &.active {
        background: var(--bg-color-2);
      }
    }
  }

  @keyframes path {
    0% {
      background-color: blue;
    }

    100% {
      background-color: orange;
    }
  }

  @keyframes visited {
    0% {
      transform: scale(0.3);
      background-color: rgba(0, 217, 159);
    }

    100% {
      transform: scale(1);
      background-color: blue;
    }
  }

  @keyframes newVisited {
    0% {
      transform: scale(0.3);
      background-color: white;
    }

    100% {
      transform: scale(1);
      background-color: rgba(0, 217, 159);
    }
  }
}
