.light {
  --color-accent-1-hsl: 80, 100%, 30%;
  --color-accent-1: hsl(var(--color-accent-1-hsl));
  --color-accent-2-hsl: 150, 100%, 30%;
  --color-accent-2: hsl(var(--color-accent-2-hsl));
  --color-accent-3-hsl: 190, 100%, 30%;
  --color-accent-3: hsl(var(--color-accent-3-hsl));
  --bg-color-1: hsl(200, 10%, 95%);
  --bg-color-2: hsl(200, 15%, 85%);
  --text-color: #111111;
}

.dark {
  --color-accent-1-hsl: 80, 100%, 60%;
  --color-accent-1: hsl(var(--color-accent-1-hsl));
  --color-accent-2-hsl: 150, 100%, 60%;
  --color-accent-2: hsl(var(--color-accent-2-hsl));
  --color-accent-3-hsl: 190, 100%, 60%;
  --color-accent-3: hsl(var(--color-accent-3-hsl));
  --bg-color-1: hsl(200, 10%, 15%);
  --bg-color-2: hsl(200, 15%, 10%);
  --text-color: #eefffa;
}
